{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="detail-card" style="margin-top: 2%">
        <div class="card mb-4">
            <div class="row g-0">
                {% if profile.profile_pic %}
                    <div class="col-md-4 text-center" style="background-color: #888888">
                        <img src="{{ profile.profile_pic.url }}" class="img-fluid rounded-start circle-img" style="border-radius: 10px !important;" alt="...">
                    </div>
                {% else %}
                    <div class="col-md-4 text-center">
                        <img src="{% static 'img/1.jpg' %}" class="img-fluid rounded-start circle-img" alt="...">
                    </div>
                {% endif %}
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Логин: <b>{{ profile.user }}</b></h5>
                        <p class="card-text">Имя: <b>{{ profile.user.first_name }}</b></p>
                        <p class="card-text">Фамилия: <b>{{ profile.user.last_name }}</b></p>
                        <p class="card-text">Дата рождения: <b>{{ profile.date_of_birth }}</b></p>
                        <p class="card-text">Пол {{ profile.gender }}:<b>{% if profile.gender == 0 %} Мужчина {% else %} Женщина {% endif %}</b></p>
                        <p class="card-text">Телефон: <b><a href="tel:{{ profile.phone_number }}">{{ profile.phone_number }}</a> </b></p>
                        <p class="card-text">Email: <b><a href="mailto:{{ profile.user.email }}?subject=Добрый день">{{ profile.user.email }}</a> </b></p>
                        <p class="card-text"><small class="text-body-secondary">О себе: <b>{{ profile.information }}</b></small></p>
                        {% if user.user_profile and profile.user == request.user %}
                            <a href="{% url 'profile_edit' %}"><button type="button" class="btn btn-primary btn-lg">Edit profile</button></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

