{% extends 'base.html' %}
{% block content %}
    <div class="card mb-3" style="width: 70%; margin-left: auto; margin-right: auto; border: none; margin-top: 1%">
        <h1 style="text-align: center">Изменение информации профиля</h1>
        <div class="row g-0">
            <div class="col-md-4" style="text-align: center">
                {% if profile_form.avatar.value.url %}
                    <h4>Текущая фото</h4>
                    <img style="width: 95%;margin-right: 8%" src="{{ profile_form.avatar.value.url }}" alt="">
                    <p>{{ profile_form.avatar.value|default:'' }}</p>
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="text-center" style="width: 90%">
                    <form action="{% url 'profile_edit' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {{ profile_form.as_p }}
                        <div style="margin-top: 3%; justify-content: space-between; display: flex; margin-left: 5%; margin-right: 5%">
                            <input class="btn btn-danger btn-lg" type="submit" value="Изменить">
                                <a class="btn btn-success btn-lg" href="{% url 'profile_detail' user.user_profile.pk %}">Вернуться в страницу {{ request.user }}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

