{% extends "base.html" %}
{% load static %}

{% block title %}
    Корзина покупок
{% endblock %}

{% block content %}
    <br>
    <h1>Корзина покупок</h1>
    <table class="table cart">
        <thead>
        <tr>
            <th scope="col">Картинка</th>
            <th scope="col" style="width: 400px">Наименование товар</th>
            <th scope="col" style="width: 120px">Обновить кол-во</th>
            <th scope="col">Удалить</th>
            <th scope="col">Кол-во</th>
            <th scope="col">Цена за шт</th>
            <th scope="col">Общая стоимость</th>
        </tr>
        </thead>
        <tbody style="vertical-align: middle">
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img height="80" src="{% if product.get_last_image %}{{ product.get_last_image.url }}{% else %}{% static 'img/1.jpg' %}{% endif %}">
                        </a>
                    </td>
                    <td width="24%"><a href="{% url 'product_detail' slug=product.category.slug pk=product.pk %}">{{ product.product_name }}</a></td>
                    <td>
                        <form action="{% url 'cart:cart_add' product.id %}" method="post">
                            {{ item.update_quantity_form.quantity }}
                            {{ item.update_quantity_form.update }}
                            <input class="btn btn-info" style="margin-top: 10px" type="submit" value="Обновить">
                            {% csrf_token %}
                        </form>
                    </td>
                    <td><a class="btn btn-danger" href="{% url 'cart:cart_remove' product.id %}">Удалить</a></td>
                    <td>
                        {{ item.quantity }} - шт.
                    </td>
                    <td class="num">{{ item.price }} тенге</td>
                    <td class="num"><b>{{ item.total_price }}</b> тенге</td>
                </tr>
            {% endwith %}
        {% endfor %}
        {% if cart.get_total_price %}
            {% if cart.coupon %}
                <tr class="subtotal">
                    <td colspan="5" style="padding: 0; text-align: left; font-size: 18px; background-color: #2aabd2;">
                        <b style="margin-left: 30px">Промежуточный итог</b>
                    </td>
                    <td colspan="2"
                        class="num"
                        style="padding: 0; text-align: right; font-size: 18px; background-color: #2aabd2; ">
                        <span style="margin-right: 30px"><b>{{ cart.get_total_price }}</b> тенге</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="padding: 0; text-align: left; font-size: 18px; background-color: #5b80b2">
                        <b style="margin-left: 30px">
                            Купон "{{ cart.coupon.code }}"
                            (скидка {{ cart.coupon.discount }}%)
                        </b>
                    </td>
                    <td colspan="2"
                        class="num neg"
                        style="padding: 0; text-align: right; font-size: 18px; background-color: #5b80b2 ">
                        <span style="margin-right: 30px"><b>- {{ cart.get_discount|floatformat:"2" }}</b> тенге</span>
                    </td>
                </tr>
            {% endif %}
            <tr class="total" style="">
                <td colspan="4" style="padding: 0; text-align: left; font-size: 22px; background-color: #2e6da4; color: white">
                    <b style="margin-left: 30px">Всего</b>
                </td>
                <td colspan="3"
                    class="num"
                    style="padding: 0; text-align: right; font-size: 22px; background-color: #2e6da4; color: white">
                    <span style="margin-right: 30px"><b>{{ cart.get_total_price_after_discount|floatformat:"2" }} </b> тенге</span>
                </td>
            </tr>

        {% endif %}
        </tbody>
    </table>

    {% if cart %}
        <form action="{% url "coupons:apply" %}" method="post">
            {% csrf_token %}
            {{ coupon_apply_form }}
            <input type="submit" class="btn btn-secondary" value="Применять">
        </form>
    {% endif %}

    <p style="text-align: right; margin-top: 5%">
        <a href="{% url 'category_list' %}" class="button btn btn-warning">В магазин</a>

        {% if cart.get_total_price %}
            <a href="{% url "order_create" %}" class="button btn btn-success" style="margin-left: 4%">Оформить заказ</a>
        {% endif %}
    </p>
{% endblock %}