{% extends 'base.html' %}
{% block content %}

    <div  style="text-align: center; margin-top: 5%;">
        <h1>Вход</h1>

        <div class="container">
            <div class="row ">
            <div class="col"></div>
                <div class="col">
                    <div class="text-right" style="width: 300px; text-align: right;">
                        <form action="{% url 'login' %}{% if next %}?next={{ next }}{% endif %}" method="post" class="text-center">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username" class="form-label">Имя пользователя:</label>
                                <input class="form-control form-control-lg" type="text" name="username" id="username">
                            </div>
                            <div class="form-group">
                                <label for="password" class="form-label">Пароль:</label>
                                <input class="form-control form-control-lg" type="password" name="password" id="password">
                            </div>
                            {% if has_error %}
                                <p class="form-error" style="color: #a41515">Неверное имя пользователя или пароль.</p>
                            {% endif %}
                            <div class="d-grid gap-2" style="margin-top: 8%">
                                <button id="get-token" class="btn btn-success btn-lg" type="submit">Войти</button>
                            </div>
                        </form>

                        <div class="d-grid gap-2" style="margin-top: 8%">
                            <a class="btn btn-primary btn-lg" aria-current="page" href="{% url 'password_reset' %}">Reset Password</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div style="margin-top: 15%">
                        <a style="background-color: #2e6da4; color: white; text-decoration: none; font-size: 20px; padding: 14px 20px; border-radius: 10px;"
                           href="{% url 'social:begin' 'google-oauth2' %}">
                            <b>Войти через Google</b>
                        </a>
                    </div>
                </div>
            </div>
        </div>



    </div>



{% endblock %}