{% extends 'base.html' %}
{% block content %}
    <div class="login text-center" style="margin-top: 2%">
        <p>Reset Compete</p>
        <a href="/" class="btn btn-primary">Return</a>
    </div>
{% endblock %}