{% extends 'base.html' %}
{% block content %}
    <div class="login text-center" style="margin-top: 2%">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
                {% if field.error %}
                    {{ field.error|striptags }}
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>
    </div>
{% endblock %}