{% extends 'base.html' %}
{% block content %}
    <div class="login text-center" style="margin-top: 2%">
        <p>Reset Password</p>
        <p>Please check your inbox</p>
        <a href="/" class="btn btn-primary btn-lg">Return</a>
    </div>
{% endblock %}