{% extends 'base.html' %}
{% block content %}
    <div class="mx-auto p-2" style="width: 60%;">

        <h2>Password change</h2>
        <form method="post">
            {% csrf_token %}
            <div class="row g-3 align-items-center" >
                <div class="col-auto col-4">
                    <label for="id_old_password" class="col-form-label">Старый пароль:</label>
                </div>
                <div class="col-auto col-4">
                    <input type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password" class="form-control" value="{{ form.old_password.value|default:'' }}">
                </div>
                <div class="col-auto col-4">
                    {% if form.old_password.errors %}
                        <span class="form-text" style="color: #a41515"> {{ form.old_password.errors }} </span>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="row g-3 align-items-center">
                <div class="col-auto col-4">
                    <label for="id_new_password1" class="col-form-label">Новый пароль:</label>
                </div>
                <div class="col-auto col-4">
                    <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="form-control" value="{{ form.new_password1.value|default:'' }}">
                </div>
                <div class="col-auto col-4">
                    {% if form.new_password2.errors %}
                        <span class="form-text" style="color: #a41515"> {{ form.new_password2.errors }}</span>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="row g-3 align-items-center">
                <div class="col-auto col-4">
                    <label for="id_new_password2" class="col-form-label">Подтверждение нового пароля:</label>
                </div>
                <div class="col-auto col-4">
                    <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control" value="{{ form.new_password2.value|default:'' }}">
                </div>
                <div class="col-auto col-4">
                    {% if form.new_password2.errors %}
                        <span class="form-text" style="color: #a41515"> {{ form.new_password2.errors }}</span>
                    {% endif %}
                </div>
            </div>
            <span class="helptext">
                    <ul>
                        <li>Пароль не должен быть слишком похож на другую вашу личную информацию.</li>
                        <li>Ваш пароль должен содержать как минимум 8 символов.</li>
                        <li>Пароль не должен быть слишком простым и распространенным.</li>
                        <li>Пароль не может состоять только из цифр.</li>
                    </ul>
                </span>
            {#            </div>#}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
{% endblock %}