{#{% extends 'user_base.html' %}#}
{% extends 'base.html' %}
{% block content %}
    <div class="login" style="margin-left: 5%">
        <h2>Registration</h2>
        <form method="post">
            {% csrf_token %}

            <div class="row g-3 align-items-center">
                <div class="col-auto col-2">
                    <label for="id_username"class="col-form-label">Имя пользователя:</label>
                </div>
                <div class="col-auto col-3">
                    <input type="text" name="username" maxlength="150" autofocus required id="id_username" class="form-control" value="{{ form.username.value|default:'' }}">
                </div>
                <div class="col-auto col-7">
                    <span id="passwordHelpInline" class="form-text">
                      Обязательное поле. Не более 150 символов. Только буквы, цифры и символы @/./+/-/_.
                        {% if form.username.errors %}
                            <span style="color: #a41515">{{ form.username.errors }}</span>
                        {% endif %}
                    </span>
                </div>
            </div>
            <br>

            <div class="row g-3 align-items-center">
                <div class="col-auto col-2">
                    <label for="id_email" class="col-form-label">Email:</label>
                </div>
                <div class="col-auto col-3">
                    <input type="email" name="email" maxlength="200" required id="id_email" class="form-control" value="{{ form.email.value|default:'' }}">
                </div>
                <div class="col-auto col-7">
                    <span id="passwordHelpInline" class="form-text" style="color: #a41515">
                      {% if form.email.errors %}
                          {{ form.email.errors }}
                      {% endif %}
                    </span>
                </div>
            </div>
            <br>

            <div class="row g-3 align-items-center">
                <div class="col-auto col-2">
                    <label for="id_password1" class="col-form-label">Пароль:</label>
                </div>
                <div class="col-auto col-3">
                    <input type="password" name="password1" autocomplete="new-password" required id="id_password1" class="form-control" value="{{ form.password1.value|default:'' }}">
                </div>
                <div class="col-auto col-7">
                        <span id="passwordHelpInline" class="form-text" style="color: #a41515">
                            {% if form.password2.errors %}
                                {{ form.password2.errors }}
                            {% endif %}
                        </span>
                </div>
            </div>
            <br>

            <div class="row g-3 align-items-center">
                <div class="col-auto col-2">
                    <label for="id_password2" class="col-form-label">Подтверждение пароля:</label>
                </div>
                <div class="col-auto col-3">
                    <input type="password" name="password2" autocomplete="new-password" required id="id_password2" class="form-control" value="{{ form.password2.value|default:'' }}">
                </div>
                <div class="col-auto col-7">
                    <span id="passwordHelpInline" class="form-text">
                      Для подтверждения введите, пожалуйста, пароль ещё раз.
                        {% if form.password2.errors %}
                            <span style="color: #a41515">{{ form.password2.errors }}</span>
                        {% endif %}
                    </span>
                </div>
            </div>
            <br>

            <span class="helptext">
                <ul>
                    <li>Пароль не должен быть слишком похож на другую вашу личную информацию.</li>
                    <li>Ваш пароль должен содержать как минимум 8 символов.</li>
                    <li>Пароль не должен быть слишком простым и распространенным.</li>
                    <li>Пароль не может состоять только из цифр.</li>
                </ul>
            </span>


            <button type="submit" class="btn btn-primary btn-lg">Register</button>
        </form>
    </div>
{% endblock %}