<div class="container"  style="margin-top: 2%">
    {#{{ object_list }}#}
    {% for comment in comments %}
        <div class="text-right" id="blog-posts">
            <div class="row" >
                <div class="col-3">
                    <div class="rating-result">
                        <span {% if comment.rating >= 1 %} class="active" {% endif %}></span>
                        <span {% if comment.rating >= 2 %} class="active" {% endif %}></span>
                        <span {% if comment.rating >= 3 %} class="active" {% endif %}></span>
                        <span {% if comment.rating >= 4 %} class="active" {% endif %}></span>
                        <span {% if comment.rating >= 5 %} class="active" {% endif %}></span>
                    </div>

                    <div>
                        <p>
                            <b>{{ comment.author.first_name }}</b> <br>
                            <small style="color: #CFCCCC">{{ comment.created_at }}</small>
                        </p>
                    </div>
                </div>
                <div class="col-9">
                    <div class="card-body">
                        {% if comment.advantages %}
                            <div><b>Достоинства:</b> {{ comment.advantages }}</div>
                        {% endif %}
                        {% if comment.flaws %}
                            <div><b>Недостатки:</b> {{ comment.flaws }}</div>
                        {% endif %}
                        {% if comment.text %}
                            <div><b>Комментарий:</b> {{ comment.text }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr>

        </div>
    {% endfor %}
    <div class="d-flex justify-content-center">
        {% if is_paginated %}
            {% include 'common/pagination.html' %}
        {% endif %}
    </div>
</div>



