{% extends "base.html" %}
{% load mptt_tags %}

{% block title %}Список категорий{% endblock %}

{% block content %}
    {% include 'common/search.html' %}

    <section>
        <div class="container text-center" style="margin-top: 2%">
            <h1> Интернет-магазин на Market </h1>
        </div>
    </section>

    <div style="margin-top: 5%">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% recursetree object_list %}
                <div class="col">
                    <a style="text-decoration: none;" href="{{node.get_absolute_url}}">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 style="font-size: 24px !important;" class="card-title text-center">{{node.title}}</h5>
                                {% for category_count in category_counts.items %}
                                    {% if category_count.0 == node.title %}
                                        {% if category_count.1 <= 0 %}
                                            <span style="color: red">Количество товаров: ({{ category_count.1 }})</span>
                                            {% else %}
                                            <span style="color: #4cae4c">Количество товаров: ({{ category_count.1 }})</span>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <img src="media/{{ node.image }}" class="card-img-top" alt="...">
                        </div>
                    </a>
                </div>
            {% endrecursetree %}
        </div>
    </div>


{% endblock %}