{% extends "base.html" %}
{% load mptt_tags %}

{% block title %}Список категорий{% endblock %}

{% block content %}
{% include 'common/search.html' %}
<div>
    <div>
        <ul>

            {% recursetree object_list %}
            <li>
                <a href="{{node.get_absolute_url}}">{{node.title}}</a>
                {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
                {% endif %}
            </li>
            {% endrecursetree %}
        </ul>
    </div>
</div>

{% endblock %}