
.scale {
    object-fit: contain;
    margin-top: 2%;
    margin-right: 3%;

    transition: 1s; /* Время эффекта */
}
.scale:hover {
    transform: scale(3.5); /* Увеличиваем масштаб */
}

.rating-area {
    overflow: hidden;
    width: 235px;
    margin: 0 auto;
}
.rating-area:not(:checked) > input {
    display: none;
}
.rating-area:not(:checked) > label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 52px;
    line-height: 52px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
    content: '★';
}
.rating-area > input:checked ~ label {
    color: red;
    text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
    color: #843534;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
    color: red;
    text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
    position: relative;
}

.rating-result {
    width: 265px;
    margin: 0 0;
}
.rating-result span {
    padding: 0;
    font-size: 26px;
    margin: 0 3px;
    line-height: 1;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
    content: '★';
}
.rating-result > span.active {
    color: red;
    text-shadow: 1px 1px #c60;
}


.pagination {
    text-align: center;
}

.pagination a,
.pagination .page-disabled {
    display: inline-block;
    border: solid 1px #6a7ddd;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
}

.pagination a {
    background: #6a7ddd;
    color: white;
    text-decoration: none;
}

.pagination a:hover {
    background: #6a7dff;
    text-decoration: underline;
}

.pagination .page-disabled {
    background: #6a7dcc;
    color: #dddddd;
}

.pagination .current-page {
    display: inline-block;
}

.pagination .current-page input {
    width: 50px;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 5px;
    text-align: center;
    border: solid 1px gray;
}
/*--------------------------*/
.red-stars {
    color: red;
    font-size: 20px;
}
/*--------------------------*/

.content-center{
    justify-content:center;
}

.list-item-contains{
    margin-bottom: 1.5em;
    border: 0;
    box-shadow: 5px 0px 5px -1px #f6f6f6, 0px 5px 5px 0px #F6F6F4, -5px 0px 5px -1px #f6f6f6, 0px -5px 5px -1px #f6f6f6;
    border-radius: 5px;
}


/* Скрыть стрелку у элементов последнего уровня */
.toggle-button {
    display: none;
}
.last-level {
    display: none;
}

/* Стили для стрелки */
.toggle-button {
    cursor: pointer;
    position: absolute;
    left: -26px; /* Расположение иконки относительно текста */
    /*top: -12px;*/

}

.tree-item > a {
    cursor: pointer;
}

.tree-item.open > .toggle-button::before {
    content: "▼"; /* Символ для открытого элемента */
    /*font-size: 30px;*/
}

.tree-item > .toggle-button::before {
    content: "▶"; /* Символ для закрытого элемента */
    /*font-size: 30px;*/
}

.tree ul {
    display: none;
}

.tree li {
    margin-left: 10px;
    position: relative;
}

.tree-item.open ul {
    display: block;
}


.text-container {
    position: relative;
    max-width: 300px; /* Максимальная ширина контейнера, чтобы ограничить длину текста */
}

.text::after {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.text:hover::after {
    display: block;
}

