{% extends "base.html" %}
{% load mptt_tags %}

{% block title %}Список категорий{% endblock %}

{% block content %}

    <div>
        <div>
            <ul style="list-style-type: none">

                {% recursetree object_list %}

                    <li>
                        {% if node.get_category_count > 0 %}
                            {{node.title}}
                        {% else %}
                            {#                            <a href="{{node.pk}}">{{node.title}} | {{ node.get_category_count }}</a>#}
                            <a href="{% url 'create_product' catid=node.pk %}">{{node.title}} | {{ node.get_category_count }}</a>
                        {% endif %}

                        {% if not node.is_leaf_node %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    </li>

                {% endrecursetree %}
            </ul>
        </div>
    </div>


{% endblock %}