{% extends "base.html" %}
{% load mptt_tags %}
{% block title %} {{ title }} {% endblock %}

{% block style %}
    a {
    text-decoration: none
    }
{% endblock %}

{% block content %}
    <main>
        <section>
            <div class="container">
                <h1> {{title}} </h1>
            </div>
        </section>
        {% include 'common/search.html' %}

        <div style="margin-left: 26%; font-size: 14px;">
            {% for parent_element in parent_elements %}
                {% if not parent_element.pk == slag_product.pk %}
                    {#                                {{ parent_element.parent_id }}#}
                    {% for category_count in category_counts.items %}
                        {% if category_count.0 == parent_element.title %}
                            {% if not parent_element.parent_id %}
                                <a href="{{ parent_element.get_absolute_url }}"><b>{{ parent_element.title }}</b></a>
                                ({{ category_count.1 }})
                            {% endif %}
                            {% if parent_element.parent_id %}
                                <span style="margin-left: 10px">&#x279C;</span>
                                <a style="margin-left: 10px;" href="{{ parent_element.get_absolute_url }}"><b>{{ parent_element.title }}</b></a>
                                ({{ category_count.1 }})
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% if slag_product.parent_id %}
                <span style="margin-left: 10px">&#x279C;</span>
            {% endif %}
            <span style="margin-left: 10px; color: #999999">
                <b>{{ slag_product.title }}</b>
                {% for category_count in category_counts.items %}
                    {% if category_count.0 == slag_product.title %}
                        ({{ category_count.1 }})
                    {% endif %}
                {% endfor %}
            </span>
        </div>

        {#        {{ slag_product.slug }}#}
        <div class="container text-center" style="margin-top: 2%">
            <div class="row">
                <div class="col-3" style="text-align: left">

                    {% for parent_element in parent_elements %}
                        <div >
                            {% if not parent_element.pk == slag_product.pk %}
                                {% for category_count in category_counts.items %}
                                    {% if category_count.0 == parent_element.title %}
                                        {% if not parent_element.parent_id %}
                                            <a style="font-size: 18px" href="{{ parent_element.get_absolute_url }}"><b>{{ parent_element.title }} </b></a>
                                            ({{ category_count.1 }})
                                        {% endif %}
                                        {% if parent_element.parent_id %}
                                            <a style="margin-left: 10px" href="{{ parent_element.get_absolute_url }}"><b>{{ parent_element.title }}</b></a>
                                            ({{ category_count.1 }})
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div>
                        <ul class="tree" style="list-style-type: none; padding-left: 10px;">
                            {% recursetree object_list %}
                                <li class="tree-item" style="list-style-type: none; margin-left: 10px;">
                                    <span class=" {% if not node.children %}last-level{% else %}toggle-button{% endif %}"></span>
                                    <a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
                                    {% for category_count in category_counts.items %}
                                        {% if category_count.0 == node.title %}
                                            ({{ category_count.1 }})
                                        {% endif %}
                                    {% endfor %}
                                    {% if not node.is_leaf_node %}
                                        <ul class="subtree" style="padding-left: 10px;">
                                            {{ children }}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endrecursetree %}
                        </ul>
                    </div>

                    <form action="{% url 'filter' slag_product.slug %}" method="get">
                        <div class="left-side my-4">
                            <h3 class="sear-head editContent">Цена</h3>

                            <input type="checkbox" class="checked" name="price1" value="price1">
                            <span class="span editContent">1-599</span><br>

                            <input type="checkbox" class="checked" name="price2" value="price2">
                            <span class="span editContent">600-1399</span><br>

                            <input type="checkbox" class="checked" name="price3" value="price3">
                            <span class="span editContent">1400-5000</span><br>
                        </div>

                        <div class="left-side">
                            <h3 class="sear-head editContent">Бренд</h3>
                            {% for brand in view.get_brand %}
                                <input type="checkbox" class="checked" name="brand" value="{{ brand.brand_name }}">
                                <span class="span editContent">{{ brand.brand_name }}</span> <br>
                            {% endfor %}
                            <br>
                        </div>
                        <button type="submit">Применить</button>
                    </form>
                </div>

                <div class="col-9">
                    <div>
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            {% if not products %}
                                <h5>К сожалению, мы ничего не нашли по Вашему запросу.</h5>
                                <p>Попробуйте изменить поисковый запрос и проверить, нет ли опечаток.</p>
                            {% endif %}
                            {% for product in products %}
                                <div class="col">
                                    <div class="card">
                                        <a href="{% url 'product_detail' slug=product.category.slug pk=product.pk %}">
                                            <img src="{{ product.get_last_image.url }}" style="max-height: 150px; object-fit: contain" class="card-img-top" alt="...">
                                        </a>
                                        <div class="card-body">
                                            <a href="{% url 'product_detail' slug=product.category.slug pk=product.pk %}">
                                                <h5 class="card-title" style="height: 70px; text-align: left">
                                                    {% if product.product_name|length > 40 %}
                                                        <span class="text-container">
                                                            <span class="text" data-tooltip="{{ product.product_name }}">
                                                                {{ product.product_name|slice:":40" }}...
                                                                <span style="color: #1b1b1b; font-size: 16px">Открыть</span>
                                                            </span>
                                                        </span>
                                                    {% else %}
                                                        {{ product.product_name }}
                                                    {% endif %}
                                                </h5>
                                            </a>
                                            <p class="card-text">
                                            <div class="container text-center" >
                                                <div class="row" style="text-align: left">
                                                    <div class="col">
                                                        Цена
                                                    </div>
                                                    <div class="col">
                                                        Бренд
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container text-center" >
                                                <div class="row" style="text-align: left">
                                                    <div class="col">
                                                        <b>{{ product.price }}</b>
                                                    </div>
                                                    <div class="col">
                                                        <b>{{ product.brand }}</b>
                                                    </div>
                                                </div>
                                            </div>

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            {% if is_paginated %}
                {% include 'common/pagination.html' %}
            {% endif %}
        </div>
    </main>
{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript">
        {#console.log($('#blog-posts'))#}
        function ajaxPagination() {
            $('#pagination a.page-list').each((index, el) => {
                console.log(el)
                console.log(index)
                $(el).click((e) => {
                    e.preventDefault()
                    let page_url = $(el).attr('href')
                    console.log(page_url)

                    $.ajax({
                        url: page_url,
                        type: 'GET',
                        success: (data) => {
                            $('#blog-posts').empty()
                            $('#blog-posts').append($(data).filter('#blog-posts').html())
                            $('#pagination').empty()
                            $('#pagination').append($(data).find('#pagination').html())
                        }
                    })
                })
            })
        }

        $(document).ready(function () {
            ajaxPagination()
        })

        $(document).ajaxStop(function () {
            ajaxPagination() })
    </script>

    <script>

        document.addEventListener("DOMContentLoaded", function () {
            const toggleButtons = document.querySelectorAll(".toggle-button");

            toggleButtons.forEach(function (button) {
                if (button.parentElement.querySelector(".subtree")) {
                    button.style.display = "block"; // Показать иконку только у элементов с дочерними элементами
                }

                button.addEventListener("click", function () {
                    const li = this.parentElement;
                    li.classList.toggle("open");

                    // Добавить класс "open" для всех родительских элементов
                    let parent = li.parentElement;
                    while (parent && parent.matches("ul.subtree")) {
                        parent.parentElement.classList.add("open");
                        parent = parent.parentElement.parentElement;
                    }

                    // Найти все поддеревья (дочерние ul) и скрыть/раскрыть их тоже
                    const subTrees = li.querySelectorAll(".subtree");
                    subTrees.forEach(function (subTree) {
                        subTree.style.display = li.classList.contains("open") ? "block" : "none";
                    });
                });
            });
        });


    </script>
{% endblock %}