{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
    <main>
        <section>
            <div class="container">
                <h1> {{title}} </h1>
            </div>
        </section>
        {% include 'common/search.html' %}

        <div class="container text-center">
            <div class="row">
                <div class="col-2" style="text-align: left">
                    <form >
                        <div class="left-side my-4">
                            <h3 class="sear-head editContent">Цена</h3>

                            <input type="checkbox" class="checked" name="price1" value="price1">
                            <span class="span editContent">1-599</span><br>

                            <input type="checkbox" class="checked" name="price2" value="price2">
                            <span class="span editContent">600-1399</span><br>

                            <input type="checkbox" class="checked" name="price3" value="price3">
                            <span class="span editContent">1400-5000</span><br>
                        </div>

                        <div class="left-side">
                            <h3 class="sear-head editContent">Бренд</h3>
                            {% for brand in view.get_brand %}
                                <input type="checkbox" class="checked" name="brand" value="{{ brand.brand_name }}">
                                <span class="span editContent">{{ brand.brand_name }}</span> <br>
                            {% endfor %}
                            <br>
                        </div>
                        <button type="submit">Применить</button>
                    </form>
                </div>

                <div class="col-10">
                    <div>
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            {% if not products %}
                                <h5>К сожалению, мы ничего не нашли по Вашему запросу.</h5>
                                <p>Попробуйте изменить поисковый запрос и проверить, нет ли опечаток.</p>
                            {% endif %}
                            {% for product in products %}
                                {#                {% for product in object_list %}#}
                                <div class="col">
                                    <div class="card">
                                        {{ product.get_last_image }}

                                        <img src="{{ product.get_last_image.url }}" style="max-height: 180px; object-fit: contain" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <a href="{% url 'product_detail' slug=product.category.slug pk=product.pk %}">
                                                <h5 class="card-title" style="height: 100px">{{ product.product_name }}</h5>
                                            </a>
                                            <p class="card-text">
                                                {{ product.article }} <br>
                                                {{ product.brand }} <br>
                                                {{ product.price }} <br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}

