{% extends "base.html" %}
{% block title %} Создание {{ title }} {% endblock %}

{% block content %}
    <main>
        <section>
            <div class="container">
                <h1> {{title}} </h1>
            </div>
        </section>

        <div style="width: 70%; margin: auto">

            <div class="form-group">
                <label for="city" class="form-label"><b>Категория:</b></label>
                <input type="text"class="form-control" disabled value="{{ catid }}">
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {% for field in form %}
                        <label for="city" class="form-label"><b>{{ field.label_tag }}</b></label>
                        {#                        {{ field }}#}
                        {% if field.errors %}
                            <div style="border: 1px red inset">{{ field }}</div>
                            <div class="errorlist" style="color: red; ">
                                {{ field.errors }}
                            </div>
                        {% else %}
                            {{ field }}

                        {% endif %}
                    {% endfor %}

                    {% if form.errors %}

                        <div class="errorlist">
                            {{ form.errors }}
                        </div>
                    {% endif %}

                </div>
                <div class="form-group">
                    {% for char_field in form_characteristic %}
                        <label for="city" class="form-label"><b>{{ char_field.label_tag }}</b></label>
                        {#                        {{ char_field }}#}

                        {% if char_field.errors %}
                            <div style="border: 3px red inset; border-radius: 10px">{{ char_field }}</div>
                            <div class="errorlist" style="color: red; ">
                                {{ char_field.errors }}
                            </div>
                        {% else %}
                            {{ char_field }}
                        {% endif %}
                    {% endfor %}

                    {% if form_characteristic.errors %}
                        <div class="errorlist">
                            {{ form_characteristic.errors.0 }}
                        </div>
                    {% endif %}

                </div>

                <input type="submit" class="form-control btn btn-success" value="Создать" style="margin-top: 2%">
            </form>

        </div>
    </main>
{% endblock %}

