{% extends "base.html" %}
{% block title %} Создание {{ title }} {% endblock %}

{% block content %}
    <main>
        <section>
            <div class="container">
                <h1> {{title}} </h1>
            </div>
        </section>

        <div style="width: 70%; margin: auto">

            <div class="form-group">
                <label for="city" class="form-label"><b>Категория:</b></label>
                <input type="text"class="form-control" disabled value="{{ products.category }}">
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {% for field in form %}
                        <label for="city" class="form-label"><b>{{ field.label_tag }}</b></label>
                        {{ field }}
                    {% endfor %}
                </div>
                <div class="form-group">
                    {% for char_field in form_characteristic %}
                        <label for="city" class="form-label"><b>{{ char_field.label_tag }}</b></label>
                        {{ char_field }}
                    {% endfor %}
                </div>

                <p><b>Удалить выбранное изображения</b></p>
                {% for image in images %}
                    <img src="/media/{{image.image}}" alt="" style="width: 100px; height: 100px; object-fit: cover;">
                    {{ image.image }}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{image.pk}}" id="{{image.pk}}" name="attachments">
                    </div>
                {% endfor %}

                <input type="submit" class="form-control btn btn-success" value="Изменить" style="margin-top: 2%">
            </form>

        </div>
    </main>
{% endblock %}

