{% extends "base.html" %}
{% block title %} {{ product }} {% endblock %}
{% block style %}

{% endblock %}

{% block content %}
    <main>
        <section>
            <div class="container">
                <h1> {{title}} </h1>
            </div>
        </section>
        {% include 'common/search.html' %}
        <br>
        <div style="margin-bottom: 10px">
            {% for parent_element in parent_elements %}
                {#            {{ parent_element }}#}
                {% if parent_element.level != 2 %}
                    <a style="margin-left: 10px" href="{{ parent_element.get_absolute_url }}">{{ parent_element.title }}</a>
                    <span style="margin-left: 10px;">&#x279C;</span>
                {% endif %}
                {% if parent_element.level == 2 %}
                    <a style="margin-left: 10px" href="{{ parent_element.get_absolute_url }}">{{ parent_element.title }}</a>
                {% endif %}

            {% endfor %}

        </div>
        <div style="margin: auto 20px" >
            <div class="row">
                <div class="col-8 text-center" style="border: #DEE2E6 1px inset">

                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"><!-- data-interval="30000" Интервал скролинга в милисикундах -->
                        <div id="carouselExampleDark" class="carousel carousel-dark slide">

                            <div class="carousel-inner" style="vertical-align: middle">
                                <div class="carousel-item active" data-bs-interval="200" style="max-height: 500px; vertical-align: middle">
                                    <img src="{{ first_image.image.url }}" class="d-block w-100 h-50" alt="..." style="max-height: 500px; object-fit: contain; display: inline-block">
                                </div>
                                {% for image in images %}
                                    <div class="carousel-item" data-bs-interval="200" style="max-height: 500px; vertical-align: middle">
                                        <img src="{{ image.image.url }}" class="d-block w-100" alt="..." style="height: 500px; object-fit: contain; display: inline-block">
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Предыдущий</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Следующий</span>
                            </button>
                        </div>
                    </div>
                    <div>
                        {% for image in images %}
                            <img src="{{ image.image.url }}" alt="..." width="100" height="100" class="scale">
                        {% endfor %}
                    </div>
                </div>
                <div class="col-4 position-relative" style="border: #DEE2E6 1px inset; border-left: none; padding: 16px 50px">
                    <h4>{{ product.product_name }}</h4>
                    <hr width="100%" size="2" color="#888888" style="margin: 30px auto 20px auto"/>
                    <div class="container">
                        <div class="row" >
                            <div class="col-4" style="border-right: 1px #888888 inset">
                                Цена
                            </div>
                            <div class="col-8">
                                Бренд
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-4" style="border-right: 1px #888888 inset">
                                <b>{{ product.price }}</b>
                            </div>
                            <div class="col-8">
                                <b>{{ product.brand }}</b>
                            </div>
                        </div>
                    </div>
                    <hr width="100%" size="2" color="#888888" style="margin: 30px auto 20px auto"/>

                    <div>
                        <form action="{% url 'cart:cart_add' product.pk %}" method="post" class="row g-3">
                            {% csrf_token %}
                            {#                            {{ cart_product_form }}#}

                            <div class=col">
                                {{ cart_product_form.update }}
                                <label for="{{ cart_product_form.quantity.id_for_label }}" class="form-label"><b>{{ cart_product_form.quantity.label }}:</b></label>
                                <div style="width: 54%">{{ cart_product_form.quantity }}</div>
                                <br>
                                <input class="btn btn-info" type="submit" value="Добавить в корзину">
                            </div>

                            <div class="col-auto">

                            </div>
                        </form>
                    </div>
                    <hr width="100%" size="2" color="#888888" style="margin: 30px auto 20px auto"/>
                    <div style="height: 170px">
                        <b>Просмотры:</b> <span style="color: #4cae4c"><b>{{ product.views_count }}</b></span>
                        <br>
                        {% if product_information.connectors %}
                            -разъемы: {{ product_information.connectors }}
                            <br>
                        {% endif %}

                        {% if product_information.type %}
                            -тип: {{ product_information.type }}
                            <br>
                        {% endif %}

                        {% if product_information.battery_capacity %}
                            -емкость аккумулятора: {{ product_information.battery_capacity }}
                            <br>
                        {% endif %}
                        {% if product_information.color %}
                            -цвет: {{ product_information_color }} -
                            <span style="background-color: {{ product_information.color }};
                                    color: {{ product_information.color }};
                                    font-size: 24px; border: 1px #888888 inset;">
                            123
                        </span>
                        {% endif %}
                    </div>

                    <div class="position-absolute bottom-0 start-50 translate-middle-x" style="margin-bottom: 6%; width: 100%" >
                        <div class="d-flex justify-content-evenly">
                            <a href="{% url 'edit_product' pk=product.pk slug=product.category.slug %}" class="btn btn-success">Изменить</a>
                            <button
                                    class="delete-button btn btn-danger"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"
                            >
                                <u>Удалить</u>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="d-grid gap-2 col-3 mx-auto" style="margin-top: 2%">
                <button class="btn btn-outline-danger" id="open-form-button">Оставить отзыв</button>
                <button class="btn btn-outline-danger" id="close-form-button" style="display: none">Скрыть форму отзыва</button>
            </div>

            <div id="my-form" style="display: none; margin-top: 2%">
                <form id="createForm" >
                    <div class="rating-area" id="star">
                        <input type="radio" id="star-5" name="rating" value="5">
                        <label for="star-5" title="Оценка «5»"></label>
                        <input type="radio" id="star-4" name="rating" value="4">
                        <label for="star-4" title="Оценка «4»"></label>
                        <input type="radio" id="star-3" name="rating" value="3">
                        <label for="star-3" title="Оценка «3»"></label>
                        <input type="radio" id="star-2" name="rating" value="2">
                        <label for="star-2" title="Оценка «2»"></label>
                        <input type="radio" id="star-1" name="rating" value="1">
                        <label for="star-1" title="Оценка «1»"></label>
                    </div>
                    <div class="text-center" id="errorStar" style="margin: auto; color: #a41515; font-size: 12px"></div>
                    <div style="display: flex; justify-content: space-between; margin-top: 1%">
                        <input type="hidden" id="author" name="author" value="{{ request.user.pk }}">
                        <input type="hidden" id="product" name="product" value="{{ product.pk }}">
                        <textarea rows="2" class="form-control" id="advantages" onFocus="this.select()"
                                  name="advantages" placeholder="Достоинства..."></textarea>

                        <textarea rows="2" class="form-control" id="flaws" onFocus="this.select()"
                                  name="flaws" placeholder="Недостатки..."></textarea>

                        <textarea rows="2" class="form-control" id="text" onFocus="this.select()"
                                  name="text" placeholder="Добавьте комментарий..."></textarea>
                        <input type="submit" class="create-resp btn btn-danger" value="Отправить">
                    </div>
                    <div class="text-center" id="errorMassage" style="margin: auto; color: #a41515; font-size: 12px"></div>
                </form>
            </div>

        {% else %}
            <div class="text-center" style="margin-top: 2%; font-size: 20px; color: red">
                <p>Чтобы оставить комментарии, просим авторизоваться</p>
            </div>
        {% endif %}
        <div style="margin-top: 3%" class="card">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist" style="font-size: 30px">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                        Отзывы
                        {% if product_count %}
                            ({{ product_count }})
                        {% endif %}
                    </button>
                    <button class="nav-link" id="nav-characteristic-tab" data-bs-toggle="tab" data-bs-target="#nav-characteristic" type="button" role="tab" aria-controls="nav-characteristic" aria-selected="false">Характеристики</button>
                    {% if product.description %}
                        <button class="nav-link" id="nav-description-tab" data-bs-toggle="tab" data-bs-target="#nav-description" type="button" role="tab" aria-controls="nav-description" aria-selected="false">Описание</button>
                    {% endif %}
                    <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false" disabled>Отключен</button>
                </div>
            </nav>
            <div class="tab-content container" id="nav-tabContent" style="margin-top: 2%">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                    <div class="container">
                        <h2 style="color: #444;">Отзывы о {{ product.product_name }}</h2>
                        <hr>
                        <div class="comments"></div>

                        {% if comments %}
                            <div id="data-list">
                            </div>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btn-secondary" id="load-more">Показать еще</button>
                            </div>
                        {% else %}
                            <p>Этот товар пока не получил отзывов от покупателей. Вы сможете оценить его и оставить отзыв.</p>
                        {% endif %}
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-characteristic" role="tabpanel" aria-labelledby="nav-characteristic-tab" tabindex="0">

                    <div class="row container">
                        <h2 style="color: #444;">Характеристики {{ product.product_name }}</h2>
                        <hr>
                        <div class="col-3">
                            <b>Общие характеристики</b><br>
                            {% if product_information.solar_battery %}
                                <div style="margin-top: 70%">
                                    <b>Батарея</b>
                                </div>
                                <div style="margin-top: 60%">
                                    <b>Дополнительно</b>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-9">
                            {% for verbose_name, value in fields_with_verbose_names %}
                                {% if value and verbose_name != 'Продукт' and verbose_name != 'ID' %}
                                    <div class="row">
                                        <div class="col-4">
                                            <p style="border-bottom: 1px black dotted; padding: 0; margin: 0">
                                                <strong>{{ verbose_name }}:</strong>
                                            </p>
                                        </div>
                                        <div class="col-8">
                                            {% if verbose_name == 'Цвет корпуса' or verbose_name == 'Цвет браслета/ремешка' or verbose_name == 'Цвет' %}

                                                {% for color_choice in color_choices %}
                                                    {% if value == color_choice.0 %}
                                                        {{ color_choice.1 }} -
                                                    {% endif %}
                                                {% endfor %}

                                                <span style="background-color: {{ value }};
                                                        color: {{ value }};
                                                        border: 1px #888888 inset"> 123 </span>

                                            {% else %}
                                                {{ value }}
                                            {% endif %}
                                        </div>
                                    </div>

                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>

                </div>
                {% if product.description %}
                    <div class="tab-pane fade" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab" tabindex="0">
                        {{ product.description }}
                    </div>
                {% endif %}

                <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">...</div>
            </div>
        </div>

    </main>

    {% include 'product/common/delete_modal.html' with deleted_object=product %}
{% endblock %}
{% block script %}
    <script>
        const openFormButton = document.getElementById('open-form-button');
        const myForm = document.getElementById('my-form');
        const closeFormButton = document.getElementById('close-form-button');

        openFormButton.addEventListener('click', function() {
            myForm.style.display = 'block'; // Показать форму
            openFormButton.style.display = 'none'; // Скрыть кнопку
            closeFormButton.style.display = 'block'; // Показать кнопку
        });

        closeFormButton.addEventListener('click', function() {
            myForm.style.display = 'none'; // Скрыть форму
            closeFormButton.style.display = 'none'; // Скрыть кнопку "Скрыть форму"
            openFormButton.style.display = 'block';
        });
    </script>

    <script>
        console.log(Cookies.get('csrftoken'))
        {#console.log($('#createForm').serialize())#}
        let comments = document.querySelector(".comments");

        $('#createForm').on("submit", function(e){
            e.preventDefault()
            console.log($('#text')[0].value)
            console.log($('#createForm')[0]['text'].value)
            console.log(this['rating'].value)
            let errorMassage = document.getElementById('errorMassage')
            let errorStar = document.getElementById('errorStar')
            var str = $(this).serialize()
            console.log(str)
            if (
                $('#createForm')[0]['text'].value === '' &&
                $('#createForm')[0]['advantages'].value === '' &&
                $('#createForm')[0]['flaws'].value === '' &&
                this['rating'].value === ''
            ) {
                errorMassage.innerText = 'Заполните один из выделенных полей (Достоинства, Недостатки, Комментарий)';
                errorStar.innerText = 'Поставьте оценку в пяти бальной шкале';
                $('#createForm')[0]['flaws'].style.cssText = 'border: 1px solid #a41515'
                $('#createForm')[0]['text'].style.cssText = 'border: 1px solid #a41515'
                $('#createForm')[0]['advantages'].style.cssText = 'border: 1px solid #a41515'
                $('#createForm')[0]['text'].focus();
                $('#createForm')[0]['text'].select();
                $('#star')[0].style.cssText = 'border: 2px solid #a41515'
                return
            }
            else if (
                $('#createForm')[0]['text'].value === '' &&
                $('#createForm')[0]['advantages'].value === '' &&
                $('#createForm')[0]['flaws'].value === ''
            ) {
                errorMassage.innerText = 'Заполните один из выделенных полей (Достоинства, Недостатки, Комментарий)';
                $('#createForm')[0]['flaws'].style.cssText = 'border: 1px solid #a41515'
                $('#createForm')[0]['text'].style.cssText = 'border: 1px solid #a41515'
                $('#createForm')[0]['advantages'].style.cssText = 'border: 1px solid #a41515'
                $('#createForm')[0]['text'].focus();
                $('#createForm')[0]['text'].select();
                $('#star')[0].style.cssText = 'color: blue; border: none'
                document.getElementById('errorStar').remove()
                return;
            }
            else if (
                this['rating'].value === ''
            ) {
                errorStar.innerText = 'Поставьте оценку в пяти бальной шкале';
                $('#star')[0].style.cssText = 'color: blue; border: 1px solid #a41515'

                $('#createForm')[0]['flaws'].style.cssText = 'border: none'
                $('#createForm')[0]['text'].style.cssText = 'border: none'
                $('#createForm')[0]['advantages'].style.cssText = 'border: none'
                document.getElementById('errorMassage').remove()
                return
            }
            else {
                $.ajax({
                    {#url: 'http://localhost:8000/api/v1/create/',#}
                    url: 'http://'+window.location.host+'/api/v1/create/',
                    type: 'POST',
                    headers: {'Authorization': 'Token ' + localStorage.getItem('token')},
                    headers: {'X-CSRFToken':Cookies.get('csrftoken')},
                    data: str,
                    success: function (result) {
                        location.reload()
                        console.log(result)
                    }
                });
            }
        })
    </script>

    <script>
        function renderRatingStars(rating) {
            var stars = '';
            for (var i = 0; i < rating; i++) {
                stars += '★';  // Звездочка
            }
            return '<span class="red-stars" style="color: red; font-size: 30px">' + stars + '</span>';
        }

        function formatDateTime(isoDate) {
            const date = new Date(isoDate);
            const options = {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
                hour: 'numeric',
                minute: 'numeric',
                second: 'numeric',
                hour12: false,
            };

            return date.toLocaleString('ru-RU', options);
        }

        function renderData(item) {
            if (item.text && item.advantages && item.flaws) {
                return '<div><b>Достоинства:</b> '+ item.advantages +'</div>\n' +
                    '<div><b>Недостатки:</b> '+ item.flaws+'</div>\n' +
                    '<div><b>Комментарий:</b> '+ item.text +'</div>\n' ;
            }
            else if (item.text && item.advantages) {
                return '<div><b>Достоинства:</b> '+ item.advantages +'</div>\n' +
                    '<div><b>Комментарий:</b> '+ item.text +'</div>\n' ;
            }
            else if (item.text && item.flaws) {
                return '<div><b>Недостатки:</b> '+ item.flaws +'</div>\n' +
                    '<div><b>Комментарий:</b> '+ item.text +'</div>\n' ;
            }
            else if (item.advantages && item.flaws) {
                return '<div><b>Достоинства:</b> '+ item.advantages +'</div>\n' +
                    '<div><b>Недостатки:</b> '+ item.flaws +'</div>\n' ;
            }
            else if (item.advantages) {
                return '<div><b>Достоинства:</b> '+ item.advantages +'</div>\n';
            }
            else if (item.flaws) {
                return '<div><b>Недостатки:</b> '+ item.flaws +'</div>\n';
            }
            else if (item.text) {
                return '<div><b>Комментарий:</b> '+ item.text +'</div>\n';
            }
            return '';
        }

        $(document).ready(function () {
            var page = 1;
            var pageSize = 5;  // Размер страницы

            function fetchData(page) {
                $.ajax({
                    url: '/api/v1/comments/?product=' + {{ product.pk }} + '&page=' + page + '&page_size=' + pageSize,  // Замените на URL вашего DRF API
                    type: 'GET',
                    success: function (data) {
                        var dataList = $('#data-list');
                        data.results.forEach(function (item) {
                            var renderedData = renderData(item);
                            var ratingStars = renderRatingStars(item.rating);
                            // Добавьте элементы данных с рейтингом в виде красных звездочек

                            if (item.product === {{ product.pk }}) {
                                dataList.append(
                                    '<div class="text-right" id="blog-posts"> \n' +
                                    '<div class="row" >\n' +
                                    '<div class="col-3">\n' +
                                    '<div class="rating-result">\n' +
                                    '<div> ' + ratingStars + '</div>' +
                                    '</div>\n' +
                                    '<div>\n' +
                                    '<p>\n' +
                                    '<b>'+ item.author.username +'</b> <br>\n' +
                                    {#'<small style="color: #CFCCCC">'+ date.toLocaleString() +'</small>\n' +#}
                                    '<small style="color: #CFCCCC">'+ formatDateTime(item.created_at) +'</small>\n' +
                                    '</p>\n' +
                                    '</div>\n' +
                                    '</div>\n' +
                                    '<div class="col-9">\n' +
                                    '<div class="card-body">\n' +
                                    {#'<div><b>Достоинства:</b> '+ item.advantages +'</div>\n' +#}
                                    {#'<div><b>Недостатки:</b> '+ item.flaws+'</div>\n' +#}
                                    {#'<div><b>Комментарий:</b> '+ item.text +'</div>\n' +#}
                                    '<div> '+ renderedData +'</div>\n' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>' +
                                    '<hr>' +
                                    '</div>'
                                );
                            }
                        });

                        if (data.next) {
                            $('#load-more').show();  // Показать кнопку "Показать еще"
                            $('#load-more').data('page', page + 1);  // Сохранить номер следующей страницы
                        } else {
                            $('#load-more').hide();  // Скрыть кнопку "Показать еще", если больше страниц нет
                        }
                    },
                });
            }

            $('#load-more').on('click', function () {
                var nextPage = $(this).data('page');
                fetchData(nextPage);
            });

            // Загрузите первую страницу данных при загрузке страницы
            fetchData(page);
        });

    </script>

{% endblock %}

