{% extends "base.html" %}
{% load mptt_tags %}
{% block title %} Мои товары {% endblock %}

{% block style %}
    a {
    text-decoration: none
    }
{% endblock %}

{% block content %}
    <main>
        <section>
            <div class="container">
                <h1> {{title}} </h1>
            </div>
        </section>
        {% include 'common/search.html' %}

        <div class="container text-center" style="margin-top: 2%">
            <div>
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    {% if not products %}
                        <h5>К сожалению, мы ничего не нашли по Вашему запросу.</h5>
                        <p>Попробуйте изменить поисковый запрос и проверить, нет ли опечаток.</p>
                    {% endif %}
                    {% for product in products %}
                        <div class="col">
                            <div class="card">
                                <a href="{% url 'product_detail' slug=product.category.slug pk=product.pk %}">
                                    <img src="{{ product.get_last_image.url }}" style="max-height: 150px; object-fit: contain" class="card-img-top" alt="...">
                                </a>
                                <div class="card-body">
                                    <a href="{% url 'product_detail' slug=product.category.slug pk=product.pk %}">
                                        <h5 class="card-title" style="height: 70px; text-align: left">
                                            {% if product.product_name|length > 40 %}
                                                <span class="text-container">
                                                            <span class="text" data-tooltip="{{ product.product_name }}">
                                                                {{ product.product_name|slice:":40" }}...
                                                                <span style="color: #1b1b1b; font-size: 16px">Открыть</span>
                                                            </span>
                                                        </span>
                                            {% else %}
                                                {{ product.product_name }}
                                            {% endif %}
                                        </h5>
                                    </a>
                                    <p class="card-text">
                                    <div class="container text-center" >
                                        <div class="row" style="text-align: left">
                                            <div class="col">
                                                Цена
                                            </div>
                                            <div class="col">
                                                Бренд
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container text-center" >
                                        <div class="row" style="text-align: left">
                                            <div class="col">
                                                <b>{{ product.price }}</b>
                                            </div>
                                            <div class="col">
                                                <b>{{ product.brand }}</b>
                                            </div>
                                        </div>
                                    </div>

                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>


        </div>
        <div class="d-flex justify-content-center">
            {% if is_paginated %}
                {% include 'common/pagination.html' %}
            {% endif %}
        </div>
    </main>
{% endblock %}
