{% extends "admin/base_site.html" %}
{% load static %}
{% block extrastyle %}
{% endblock %}
{% block title %}
    Заказ {{ order.id }} {{ block.super }}
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url "admin:index" %}">Начало</a> &rsaquo;
        <a href="{% url "admin:orders_order_changelist" %}">Заказы</a>
        &rsaquo;
        <a href="{% url "admin:orders_order_change" order.id %}">Заказ {{ order.id }}</a>
        &rsaquo; Detail
    </div>
{% endblock %}
{% block content %}
    <h1>Заказ {{ order.id }}</h1>
    <ul class="object-tools">
        <li>
            <a href="#" onclick="window.print();">Print order</a>
        </li>
    </ul>
    <table>
        <tr>
            <th>Созданный</th>
            <td>{{ order.created }}</td>
        </tr>
        <tr>
            <th>Клиент</th>
            <td>{{ order.first_name }} {{ order.last_name }}</td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td><a href="mailto:{{ order.email }}">{{ order.email }}</a></td>
        </tr>
        <tr>
            <th>Адрес</th>
            <td>{{ order.address }}, {{ order.postal_code }} {{ order.city }}</td>
        </tr>
        <tr>
            <th>Общая сумма</th>
            <td>{{ order.get_total_cost|floatformat:"2" }} тенге</td>
        </tr>
        <tr>
            <th>Статус</th>
            <td>{% if order.paid %}Оплаченный{% else %}Ожидает платежа{% endif %}</td>
        </tr>
    </table>
    <div class="module">
        <div class="tabular inline-related last-related">
            <table>
                <h2>Купленные товары</h2>
                <thead>
                <tr>
                    <th>Продукт</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Общий</th>
                </tr>
                </thead>
                <tbody>
                {% for item in order.items.all %}
                    <tr class="row{% cycle "1" "2" %}">
                        <td>{{ item.product.product_name }}</td>
                        <td class="num">{{ item.price }} тенге</td>
                        <td class="num">{{ item.quantity }}</td>
                        <td class="num">{{ item.get_cost }} тенге</td>
                    </tr>
                {% endfor %}

                {% if order.coupon %}
                    <tr>
                        <td colspan="3" ><b style="margin-left: 30px">Промежуточный итог</b></td>
                        <td>{{ order.get_total_sum }} тенге</td>
                    </tr>
                    <td colspan="3" >
                        <b style="margin-left: 30px">СКИДКА:</b> Купон "{{ order.coupon.code }}" (скидка {{ order.discount }}%)
                    </td>
                    <td>- {{ order.get_total_discount|floatformat:"2" }} тенге</td>
                {% endif %}

                <tr class="total">
                    <td colspan="3"><b>Итого</b></td>
                    <td class="num"><b>{{ order.get_total_cost|floatformat:"2" }}</b> тенге</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <a href="{% url 'generate_pdf' order.id %}" class="btn btn-primary">Скачать PDF</a>

{% endblock %}