
<div class="search" style="margin: 1% auto auto auto; width: 50%;">
    <form class="d-flex" role="search" {% if action %} action="category/all-products/filter" {% endif %}>
        <input class="form-control me-2" type="search" name="search" placeholder="Поиск" aria-label="Поиск">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
    </form>
</div>
<br>