{% extends "base.html" %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}
    <h1>Оформление заказа</h1>


    <div class="container ">
        <div class="row">
            <div class="col text-center">
                <div style="width: 90%">
                    <form action="." method="post" class="order-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-success" value="Разместить заказ">
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="order-info" style="margin-top: 10%; font-size: 14px">
                    <h3 style="color: #2aabd2">Ваша заказ</h3>

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Товар</th>
                            <th scope="col">Кол-во</th>
                            <th scope="col">Цена</th>
                            <th scope="col">Общая стоимость</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in cart %}
                            <tr>
                                <td>{{ item.product.product_name }}</td>
                                <td>{{ item.quantity }}шт.</td>
                                <td>{{ item.price }} тенге</td>
                                <td style="text-align: right"><b>{{ item.total_price }}</b>  тенге</td>
                            </tr>
                        {% endfor %}
                        {% if cart.coupon %}
                            <tr>
                                <td colspan="3">
                                    Купон "{{ cart.coupon.code }}" (скидка {{ cart.coupon.discount }}%)

                                </td>
                            <td >
                                <span><b>- {{ cart.get_discount|floatformat:"2" }}</b> тенге</span>
                            </td>
                            </tr>

                        {% endif %}

                        </tbody>
                    </table>
                    <p style="text-align: right; font-size: 22px">
                        <b>Итого: <span style="margin-left: 8%">{{ cart.get_total_price_after_discount|floatformat:"2" }} тенге</span></b>
                    </p>
                    <hr style="border: 8px #2aabd2 inset">
                </div>
            </div>
        </div>

    </div>
{% endblock %}